fastapi==0.115.4
uvicorn[standard]==0.32.0
pymilvus==2.4.9
numpy>=1.24.0
pydantic==2.9.2
torch>=2.2.0,<2.3.0
opencv-python==4.10.0.84
Pillow>=10.2.0
ultralytics==8.3.27
facenet-pytorch==2.6.0
python-multipart==0.0.17
scikit-learn==1.5.2
